<div id="message-<%= message.id %>" class="message <%= message.author && message.author.kind.to_s.gsub(" ","-").underscore %>">

  <% if message.author.kind == "Customer" %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
  <% else %>
    <i class="fa fa-user-circle" aria-hidden="true"></i>
  <% end %>

  <span class="author"><%= message.author.name %></span>
  <% if message.author.kind != "Customer" %>
    <span class="author_kind">(<%= message.author.kind %>)</span>
  <% end %>
  <%= time_tag message.created_at do %>
    <span class="timestamp" data-timestamp="<%= message.created_at.to_i * 1000 %>"><%= time_ago_in_words message.created_at %></span>
  <% end %>
  <blockquote><%= message.content %><% if message.file? %><%= link_to message.file_identifier, message.file_url, :target => "_blank" %><% end %></blockquote>
</div>