<!DOCTYPE html>
<html>
  <head>
    <title>OneToOne</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= @author && @author.kind.to_s.gsub(" ","-").underscore %>">
    <%= yield %>
  </body>
</html>
